<h1>Danh sách</h1>
<table class="table">
  <tr>
    <td>STT</td>
    <td>Name</td>
    <td>Giá</td>
    <td>Dia chi</td>
  </tr>
  <tr *ngFor="let house of houses; index as i">
    <td>{{i + 1}}</td>
    <td><a [routerLink]="['/detail',house.id]" class="btn btn-info">{{house.houseName}}</a></td>
    <td>{{house.rent}}</td>
    <td><a href="https://goo.gl/maps/stZyBnKrmfxc1hAm7">{{house.houseAddress}}</a></td>
<!--    <td><img src="{{house.image[0]}}"></td>-->
<!--    <td><a [routerLink]="['/edit',smartphone.id]" class="btn btn-info">Edit</a></td>-->
<!--    <td><a [routerLink]="['/delete',smartphone.id]" class="btn btn-warning">Delete</a></td>-->
  </tr>
</table>

