<!--<p>house-delete works!</p>-->
<!--<div>-->
<!--  <h1>How to use and customize <img src="https://sweetalert2.github.io/images/swal2-logo.png"></h1>-->
<!--  <div>-->
<!--    <h4>Modal Type</h4>-->
<!--    <p>Sweet alert with modal type and customize message alert with html and css</p>-->
<!--    <button id="success">Success</button>-->
<!--    <button id="error">Error</button>-->
<!--    <button id="warning">Warning</button>-->
<!--    <button id="info">Info</button>-->
<!--    <button id="question">Question</button>-->
<!--  </div>-->
<!--</div>-->
<!--<button (click)="function1()"></button>-->
<!--<button (click)="function2()"></button>-->
