<app-nav-bar></app-nav-bar>
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">{{username}}</h1>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="/home">Trang chủ</a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/user',userId]">{{username}}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Thay đổi mật khẩu
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<section class="agent-single">
            <div class="limiter">
              <div class="container-login100">
                <div class="wrap-login100">
                  <div class="login100-pic js-tilt" data-tilt style="width: 350px; height: 500px">

                    <img src="../../../assets/img/ABlogo.png" >
                  </div>
            <form class="login100-form validate-form" [formGroup]="formchange" (ngSubmit)="checkPass()">
					<span class="login100-form-title">
						Thay đổi mật khẩu
                    </span>

              <div class="wrap-input100 validate-input" data-validate = "Password is required">
                <input class="input100" type="password" name="pass" formControlName="oldPassword" placeholder="Nhập Mật khẩu cũ">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
              </div>
              <div class="wrap-input100 validate-input" data-validate = "Password is required">
                <input class="input100" type="password" name="pass" formControlName="newPassword" placeholder="Nhập Mật khẩu mới">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
              </div>

              <div class="wrap-input100 validate-input" data-validate = "Password is required">
                <input class="input100" type="password" name="pass" formControlName="cnfPassword" placeholder="Nhập lại mật khẩu mới">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
              </div>

              <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                  Xác nhận
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
</section>
<app-footer></app-footer>







<!--<h1>Thay đổi mật khẩu</h1>-->

<!--<form [formGroup]="formchange" (ngSubmit)="checkPass()">-->
<!--  <div>-->
<!--    <div class="form-group">-->
<!--      <label>Mật khẩu cũ</label>-->
<!--      <div size="lg" btnStyle="primary">-->
<!--        <input type="password"  formControlName="oldPassword"-->
<!--               placeholder="Nhập mật khẩu cũ">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Mật khẩu mới</label>-->
<!--      <div size="lg" btnStyle="primary">-->
<!--        <input type="password"-->
<!--               formControlName="newPassword"-->
<!--               placeholder="Nhập mật khẩu mới">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Xác nhận mật khẩu mới</label>-->
<!--      <div size="lg" btnStyle="primary">-->
<!--        <input type="password"  formControlName="cnfPassword"-->
<!--               placeholder="Nhập lại mật khẩu mới">-->
<!--      </div>-->
<!--    </div>-->
<!--    <button class="btn btn-primary" style="width: 300px; font-size: 15px">Xác nhận</button>-->
<!--  </div>-->
<!--</form>-->
