<h1>Thay đổi mật khẩu</h1>

<form [formGroup]="form">
  <div>
    <div class="form-group">
      <label>Mật khẩu cũ</label>
      <div size="lg" btnStyle="primary">
        <input type="password" class="form-control" formControlName="oldPassword"
               placeholder="Nhập mật khẩu cũ">
      </div>
      <div *ngIf="form.get('oldPassword')?.invalid" class="alert alert-danger">
        <div *ngIf="!form.get('oldPassword')?.errors?.['required']">Mật khẩu không trùng khớp</div>
        <div *ngIf="!form.get('oldPassword')?.errors?.['invalidOldPwd']">Vui lòng nhập mật khẩu cũ</div>
      </div>
    </div>
    <div class="form-group">
      <label>Mật khẩu mới</label>
      <div size="lg" btnStyle="primary">
        <input type="password" class="form-control" formControlName="newPassword"
               placeholder="Nhập mật khẩu mới">
      </div>
      <div *ngIf="form.get('newPassword')?.invalid" class="alert alert-danger">
        <div *ngIf="!form.get('newPassword')?.errors?.['required']">Mật khẩu không đúng định dạng</div>
      </div>
      <div *ngIf="!form.get('newPassword')?.valid && form.invalid && !form.errors?.['oldAndNewPwdShouldNotMatch']"
           class="alert alert-danger">
        Trùng mật khẩu cũ
      </div>
    </div>
    <div class="form-group">
      <label>Xác nhận mật khẩu mới</label>
      <div size="lg" btnStyle="primary">
        <input type="password" class="form-control" formControlName="cnfPassword"
               placeholder="Nhập lại mật khẩu mới">
      </div>
      <div *ngIf="form.get('cnfPassword')?.invalid" class="alert alert-danger">
        <div *ngIf="form.get('cnfPassword')?.errors?.['required']">Mật khẩu mới không đúng định dạng</div>
      </div>
      <div *ngIf="form.get('cnfPassword')?.valid && form.invalid && form.errors?.['passwordShouldMatch']"
           class="alert alert-danger">
        Không khớp mật khẩu mới
      </div>
    </div>
    <button type="submit" class="btn btn-primary" style="width: 300px; font-size: 15px">Xác nhận</button>
  </div>
</form>
