<app-nav-bar></app-nav-bar>
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Xác nhận thuê nhà</h1>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/home">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Tạo Đơn hàng
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<form [formGroup]="orderForm" (ngSubmit)="submit()">-->
<!--  <table>-->
<!--    <tr>-->
<!--      <td></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</form>-->
<app-footer></app-footer>
