<h1>Detail</h1>
<p>avatar:</p>
<img src="{{avatar}}" alt="avatar" width="300" height="300">
<form [formGroup]="userForm">


  <p>username:</p>
  <input type="text" formControlName="username" readonly>
  <p>fullName:</p>
  <input type="text" formControlName="fullName" readonly>

  <p>userAddress:</p>
  <input type="text" formControlName="userAddress" readonly>
  <p>email:</p>
  <input type="text" formControlName="email" readonly>
  <p>phoneNumber:</p>
  <input type="text" formControlName="phoneNumber" readonly>
  <br>
  <a [routerLink]="['/update',]" class="btn btn-info">update</a>
  <a [routerLink]="['/list']" class="btn btn-info">Back</a>


</form>

