<h1>Detail</h1>
<p>avatar:</p>
<img src="{{avatar}}" alt="avatar" width="300" height="300">
<form [formGroup]="userForm">


  <p>fullName:</p>
  <h1 class="title-single">{{fullName}}</h1>

  <p>userAddress:</p>
  <h1 class="title-single">{{userAddress}}</h1>
  <p>email:</p>
  <h1 class="title-single">{{email}}</h1>
  <p>phoneNumber:</p>
  <h1 class="title-single">{{phoneNumber}}</h1>
  <br>
  <a [routerLink]="['/update',userId]" class="btn btn-info">update</a>
  <a [routerLink]="['/list']" class="btn btn-info">Back</a>


</form>

