<table>
  <tr>
    <td>STT</td>
    <td>Ngay thue</td>
    <td>Ngay bat dau thue</td>
    <td>Ngay ket thuc thue</td>
    <td>Ten can nha da thue</td>
  </tr>
  <tr *ngFor="let order of orderList; index as i">
    <td>{{i + 1}}</td>
    <td>{{order.createTime}}</td>
    <td>{{order.starTime}}</td>
    <td>{{order.endTime}}</td>
    <td>{{order.house?.houseName}}</td>
  </tr>
</table>
<app-nav-bar></app-nav-bar>
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">
            Danh sách phiếu thuê nhà
          </h1>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="/home">Trang chủ</a>
            </li>
            <li class="breadcrumb-item">
              <a routerLink="user">Cá nhân</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Lịch sử thuê nhà
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-9">
        <div class="property-list">
          <div class="single-property-item">
            <div class="row" *ngFor="let order of orderList; index as i">
              <div class="col-md-4" >
                <div class="property-pic">
                  <img src="{{listFirstImage[i]}}" style="width: 100%; height: 275px">
                </div>
              </div>
              <div class="col-md-8">
                <p class="content-d color-text-a property-text">
                </p>
                <div class="info-agents color-a">
                  <p style="font-size: 24px">
                    <strong>Tên nhà: </strong>
                    {{order.house?.houseName}}
                  </p>
                  <p style="font-size: 24px">
                    <strong>Giá nhà: </strong>
                    {{order.house?.rent}}
                  </p>
                  <div class="properties-location"><i class="icon_pin"></i><p style="font-size: 24px"><strong>Địa chỉ: </strong>{{order.house?.houseAddress}}</p></div>
                  <p style="font-size: 24px">
                    <strong>Ngày bắt đầu: </strong>
                    {{order.starTime}}
                  </p>
                  <p style="font-size: 24px">
                    <strong>Ngày kết thúc: </strong>
                    {{order.endTime}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
