<h1>Tạo danh mục mới</h1>
<form [formGroup]="houseForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" formControlName="houseName"></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td><input type="text" formControlName="houseAddress"></td>
    </tr>
    <tr>
      <td><label for="bedrooms">bedrooms:</label></td>
      <td>
        <select id="bedrooms" formControlName="bedrooms">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select></td>
    </tr>
    <tr>
      <td><label for="bathrooms">bathrooms:</label></td>
      <td>
        <select id="bathrooms" formControlName="bathrooms">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select></td>
    </tr>
    <tr>
      <td>description:</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>rent:</td>
      <td><input type="number" formControlName="rent"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button class="btn btn-success">Tao moi</button>
      </td>
    </tr>
  </table>
</form>
<div class="form-group col-12">
  <input type="file"
         id="file1"
         #userPhoto
         (change)="onFileSelected($event)"
         name="image"
         autocomplete="off"
  />
</div>
<div class="form-group col-12">
  <input type="file"
         id="file2"
         #userPhoto
         (change)="onFileSelected($event)"
         name="image"
         autocomplete="off"
  />
</div>
<div class="form-group col-12">
  <input type="file"
         id="file3"
         #userPhoto
         (change)="onFileSelected($event)"
         name="image"
         autocomplete="off"
  />
</div>
