<app-nav-bar></app-nav-bar>


<!--/ Services Star /-->
<section class="section-services section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Dịch vụ của chúng tôi</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <i class="fas fa-hands-helping" style="color: #2e72ca; font-size: 60px;"></i>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c" style="font-size: 35px;">Hỗ trợ</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c" style="text-align:justify">
              Chúng tôi hỗ trợ bạn tìm kiếm phòng trọ trong và ngoài khu vực trường Đại học Thủ Dầu Một một cách nhanh chóng và hiệu quả nhất.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="fa fa-usd" style="color: #2e72ca; font-size: 60px;"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c" style="font-size: 35px;">Giá thành</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c" style="text-align:justify">
              Chúng tôi luôn ưu tiên giới thiệu những phòng trọ với mức giá hợp lý và chất lượng phòng tốt, phù hợp với đa số người dùng đặc biệt là sinh viên.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="fa fa-home" style="color: #2e72ca; font-size: 60px;"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c" style="font-size: 35px;">Cộng đồng</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c" style="text-align:justify">
              Chúng tôi đã và đăng xây dựng một cộng đồng giúp chủ nhà trọ và người thuê nhà kết nối với nhau một cách dễ dàng và thuận tiện hơn.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Services End /-->

<!--/ Property Star /-->
<section class="section-property section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Phòng trọ nhiều người thuê nhất</h2>
          </div>
          <div class="title-link">
            <a routerlink="/house/list" >Xem tất cả
              <span class="ion-ios-arrow-forward"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-agents section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Chủ trọ uy tín</h2>
          </div>
          <div class="title-link">
            <a href="agents-grid.html">Xem tất cả
              <span class="ion-ios-arrow-forward"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <img src="../../assets/img/avt10.jpg" alt="" class="img-d img-fluid">
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">
                  <a href="#" class="link-two">Trần Minh
                    <br> Hiếu</a>
                </h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d color-text-a">
                200, Trần Văn Ơn, Phú Hoà, TDM
              </p>
              <div class="info-agents color-a">
                <p>
                  <strong>Điện thoại: </strong> 034 6489 037</p>
                <p>
                  <strong>Email: </strong> hieuleggo1280@gmail.com</p>
              </div>
            </div>
            <div class="card-footer-d">
              <div class="socials-footer d-flex justify-content-center">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="https://www.facebook.com/your.tranminhhieu/" target="_blank" class="link-one">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li class="list-inline-item">
                    <a href="https://www.instagram.com/hieu.khongcuoi/?hl=vi" target="_blank" class="link-one">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <img src="img/avt2.jpg" alt="" class="img-d img-fluid">
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">
                  <a href="#" class="link-two">Phạm Minh
                    <br> Nghĩa</a>
                </h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d color-text-a">
                13, Huỳnh Văn Luỹ, Phú Mỹ, TDM
              </p>
              <div class="info-agents color-a">
                <p>
                  <strong>Điện thoại: </strong> 033 6069 048</p>
                <p>
                  <strong>Email: </strong> nghiaphamln3@gmail.com</p>
              </div>
            </div>
            <div class="card-footer-d">
              <div class="socials-footer d-flex justify-content-center">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="https://www.facebook.com/minhnghia2k" target="_blank" class="link-one">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li class="list-inline-item">
                    <a href="https://www.instagram.com/nghia_leon/?hl=vi" target="_blank" class="link-one">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <img src="img/avt3.jpg" alt="" class="img-d img-fluid">
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">
                  <a href="#" class="link-two">Lê Thành
                    <br> Đạt</a>
                </h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d color-text-a">
                33, Lê Chí Dân, Hiệp An, TDM
              </p>
              <div class="info-agents color-a">
                <p>
                  <strong>Điện thoại: </strong> 032 6488 251</p>
                <p>
                  <strong>Email: </strong> datlt225@gmail.com</p>
              </div>
            </div>
            <div class="card-footer-d">
              <div class="socials-footer d-flex justify-content-center">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="https://www.facebook.com/dat1227" target="_blank" class="link-one">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li class="list-inline-item">
                    <a href="https://www.instagram.com/dat.1227/?hl=vi" target="_blank" class="link-one">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


