<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1 style="font-weight: 600;">Đăng ký tài khoản</h1>
          <h5>Vui lòng đăng ký để tiếp tục</h5>
        </div>
        <form>
          <form [formGroup]="signupForm" (ngSubmit)="signUp()">
            <div class="mb-3">
              <label class="form-label">Tên tài khoản</label>
              <input type="text" formControlName="userName" class="form-control" id="formGroupExampleInput" placeholder="Tên đăng nhập">
              <small *ngIf="signupForm.get('userName')?.invalid && signupForm.get('userName')?.touched" class="text-danger">&nbsp;Tên đăng nhập không để trống</small>
            </div>
            <div class="mb-3">
              <label class="form-label">Mật khẩu</label>
              <input formControlName="password" type="password" class="form-control" placeholder="Mật khẩu">
              <small *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="text-danger">&nbsp;Mật khẩu không để trống </small>
            </div>
            <div class="mb-3">
              <label class="form-label">Nhập lại mật khẩu </label>
              <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Nhập lại mật khẩu ">
              <small *ngIf="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched" class="text-danger">&nbsp;Mật khẩu không để trống</small>
            </div>
            <div class="mb-3">
              <label class="form-label"> Số điện thoại </label>
              <input formControlName="phone" type="phone" class="form-control" id="phone" placeholder="Số điện thoại ">
              <div class="form-text"></div>
              <small *ngIf="signupForm.get('phone')?.invalid && signupForm.get('phone')?.touched " class="text-danger">&nbsp;Số điện thoại không để trống </small>
            </div>
            <div id="signup">
              <button type="submit" class="btn btn-primary" style="width: 300px; font-size: 15px;"[disabled]="signupForm.invalid"> Đăng ký </button>
            </div>
          </form>
          <div id="route">
            <a routerLink="/" style="color: white;">Already have an account? Please Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
