<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1 style="font-weight: 600;">Đăng ký tài khoản</h1>
          <h5>Vui lòng đăng ký để tiếp tục</h5>
        </div>
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label class="form-label">Tên tài khoản</label>
              <input type="text" formControlName="userName" class="form-control" id="formGroupExampleInput" placeholder="Tên đăng nhập">
              <div *ngIf="!userName?.valid && (!userName?.dirty ||!userName?.touched)">&nbsp;<p style="color:red">Tên đăng nhập không để trống</p></div>
            </div>

            <div class="mb-3">
              <label class="form-label">Mật khẩu</label>
              <input type="password" id="password" class="form-control form-control-lg" formControlName="password">

              <div *ngIf="!password?.valid && (!password?.dirty ||!password?.touched)">
              <div [hidden]="password?.errors?.['required']">
                <p style="color: red">Mật khẩu không được để trống</p>
              </div>
              <div [hidden]="password?.errors?.['minlength']">
                <p style="color: red">Tối thiểu 6 ký tự</p>
            </div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Nhập lại mật khẩu </label>
              <input type="password" id="confirmPassword" class="form-control form-control-lg" formControlName="confirmPassword">

              <div *ngIf="!confirmPassword?.valid && (!confirmPassword?.dirty ||!confirmPassword?.touched)">
                <div [hidden]="confirmPassword?.errors?.['required']">
                  <p style="color: red">Mật khẩu không được để trống</p>
                </div>
                <div [hidden]="confirmPassword?.errors?.['minlength']">
                  <p style="color: red">Tối thiểu 6 ký tự</p>
                </div>
                <div [hidden]="contactForm.errors?.['notSame']">
                  <p style="color: red">Không trùng khớp mật khẩu </p>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label"> Địa chỉ Email </label>
              <input type="email" id="email" class="form-control form-control-lg"  formControlName="email">
              <div id="emailHelp" class="form-text"></div>
              <div *ngIf="!email?.valid && (!email?.dirty ||!email?.touched)">
                <div *ngIf="email?.errors?.['required']">
                  <p style="color: red">Email không được để trống</p>
                </div>
                <div *ngIf="email?.errors?.['email']">
                  <p style="color: red">Email không đúng định dạng</p>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label"> Số điện thoại </label>
              <input type="text" class="form-control form-control-lg" id="phone" formControlName="phone">
              <div class="form-text"></div>
              <div *ngIf="!phone?.valid && (!phone?.dirty ||!phone?.touched)">
                <div *ngIf="phone?.errors?.['pattern']">
                  <p style="color: red">Số điện thoại không đúng định dạng</p>
                </div>
                <div *ngIf="phone?.errors?.['required']">
                  <p style="color: red">Số điện thoại không để trống</p>
                </div>
              </div>
            </div>

            <div id="signup">
              <button type="submit" class="btn btn-primary" style="width: 300px; font-size: 15px;"[disabled]="contactForm.invalid"> Đăng ký </button>
            </div>
          </form>
          <div id="route">
            <a routerLink="/login" style="color: yellow;">Already have an account? Please Login</a>
          </div>
      </div>
    </div>
</div>
</div>
