<h1>Cập nhật </h1>
<form [formGroup]="userForm" (submit)="updateUser(id)">
  <table>
    <tr>
      <td>fullName:</td>
      <td><input type="text" formControlName="fullName"></td>
    </tr>
    <tr>
      <td>userAddress:</td>
      <td><input type="text" formControlName="userAddress"></td>
    </tr>
    <tr>
      <td>email:</td>
      <td><input type="text" formControlName="email"></td>
    </tr>
    <tr>
      <td>phoneNumber:</td>
      <td><input type="text" formControlName="phoneNumber"></td>
    </tr>
    <tr>
      <td></td>
      <td><button class="btn btn-info" >Cập nhật</button></td>
      <td><button class="btn btn-info"[routerLink]="['/user',id]" >quay lại</button></td>
    </tr>
  </table>
</form>
<div class="form-group col-12">
  <input type="file"
         id="file"
         #userPhoto
         (change)="onFileSelected($event)"
         name="image"
         autocomplete="off"
  />
</div>

